/* index.html */
#page1 #content .col-1 {width:348px; margin: auto;}
#page1 #content .col-2 {width:227px; margin: auto;}
/* about-us.html */
#page2 #content .col-1 {width:348px; margin: auto;}
#page2 #content .col-2 {width:227px; margin: auto;}
/* contact-us.html */
#page5 #content .col-1 {width:349px; margin: auto;}
#page5 #content .col-2 {width:227px; margin: auto;}
